/* Style for the table */

  th {
    background-color: rgb(208, 242, 255)(0, 183, 255);
    text-align: left;
    padding: 8px;
  }
  tr {
    border-bottom: 1px 
    solid #ffebeb;
  }
.custom-table {
    border-collapse: collapse;
    width: 100%;
  }
  .custom-table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  .custom-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  .custom-table .status-cell:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  #delete{
    background-color: red;
    color: white;
    border: none; padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;
    border-radius: 9px;
  }
  