<div class="centered-div">

   <form [formGroup]="form">

    <label>Title</label><br>
    <input  formControlName="title" type="text" ><br>
<span *ngIf="form.get('title')?.invalid && form.get('title')?.touched">Invalid</span><br>

    <label>Description</label><br>
    <input formControlName="description" type="text" ><br>
    <span *ngIf="form.get('description')?.invalid && form.get('description')?.touched">Invalid</span><br>

    <label>Completed</label><br>

    <select formControlName="completed" >
<option value="pending">Pending</option>
<option value="complete">Complete</option>
    </select><br>
    <span *ngIf="form.get('completed')?.invalid && form.get('completed')?.touched">Invalid</span><br>
<button [disabled]="form.invalid" (click)="takeData()">Submit</button>
</form>
</div>
